html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #161724;
  background-size: cover;
  background-position: center;
  color: #ddd;
  font-family: "Baloo Tamma 2", cursive;
  /*   font-size: 1.8em; */
}

.navbar {
  height: 10vh;
  background-color: #1E1E30;
}

.navbar-brand{
  margin-left: 10%;
}

.navbar-nav {
  margin-right: 10%;
}

a {
  color: white;
}

.section-gap {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.jumbotron {
  background-color: #1E1E30;
  padding: 2em;
}

input {
  color: #eee;
  background: #0005;
  padding: 0.1em 0.5em;
  border-radius: 5px 5px;
  border-style: none;
  box-shadow: -1px -1px 4px #fff;
  margin: 0em 1em;
  resize: horizontal;
}


.card {
  background-color: #1E1E30 !important;
}

.useThis button:active {
  background-color: rgb(255, 187, 0) !important;
  color: black !important;
}

#search{
  margin: 2em 0;
  padding: 1em
}

button:hover {
  background: #2feb89;
  color: #ff4747;
}

#footer span {
  font-size: 1.5em;
  font-weight: bold;
}

#canvasId {
  position: relative;
  top: 3%;
  width: 100%;
  text-align: center;
}

#random {
  margin: 30px auto;
  width: 100%;
  text-align: center;
}

.overlay {
  margin-top: 10vh !important;
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(19, 0, 71, 0.623);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 40px;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  z-index: 10;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
  }
}